.video-block {
    position: relative;
}

.video-block__video {
    max-width:620px;
}

.video-block__timer-block {
    display: flex;
    justify-content: right;
    width: 65px;
    position: absolute;
    background-color: gray;
    top: 0;
    left: 0;
}

.video-block__timer-block__timer {
    margin: 0;
}